* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: center;
    font-family: cursive;
}

.container {
    background-color: rgb(228, 167, 167);
    padding: 10px;
    height:400;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

 .project { 
    background-color: rgb(76, 65, 60);
    color:rgb(234, 238, 242);
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    width: 60px
    height: 100px
}

.pro-1 {
    height: 40px;
}

.pro-2 {
    align-self: flex-start;
}

.pro-3 {
    align-self: flex-end;
}