* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(247, 225, 225);
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project { 
    background-color: rgb(76, 65, 60);
    color:aliceblue;
    font-size: 35px;
    padding: 20px;
    margin: 20px;
}

.project-3 {
    height: 150px;
}
