* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: center;
    font-family: cursive;
}

.header {
    padding: 60px;
    text-align: center;
    background: rgb(228, 167, 167);
    color: rgb(14, 14, 14);
    !font-family: sans-serif;
}

.container {
    background-color: rgb(228, 167, 167);
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

 .project { 
    background-color: rgb(120, 64, 39);
    color:rgb(234, 238, 242);
    font-size: 15px;
    padding: 10px;
    margin: 10px;

    flex: 1 0 100px;
}

.pro-1 {
}

.pro-2 {

}

.pro-3 {

}